/* All our articles in the cart are displayed in a grid-item (grid-container).
    - the image of the article will be in the img_cart div
    - the name of the article will be in the name_cart div
    - the other information will be in the info_cart div 
*/

.img_cart {
    grid-area: img;
}

.name_cart {
    grid-area: name;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}



.info_cart {
    grid-area: info;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'img name name name name name'
        'img info info info info info';
    padding: 10px;
}

#web_site_name {
    font-size: 20px;
    color: teal;
    text-align: center;
    vertical-align: central;
}

#nb_article_in_cart {
    font-size: 12px;
    background: orange;
    color: white;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    float: right;
    border-radius: 5px;
}


.img_cart {
    width: 60px;
    height: 60px;
}


#div_container_all_article_in_cart {
    align-content: center;
    width: 95%; /*80*/
    margin: 0 auto;
    padding: 10px;
}





.brand_div_cart, .prix_cart {
    color: sandybrown;
    font-size: 15px;
    text-align: left;
}




.del_text_div {
    font-style: italic;
    color: rgb(220,220,220);
}

.img_cart_empty {
    width: 250px;
    margin: 0 auto;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    position: relative;
    box-shadow: 0px 0px 1px #474747;
    border-radius: 50%;
}

/*Input value quantity*/
.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 50px;
    padding: .50px;
    border: none;
    border-width: 0 2px;
    font-size: 20px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: #9be3df;
}

.line_in_cart {
    padding: 10px;
}
/*
        Media query:
        - according to the width of the device used, the css resize the label in h1 and the div that contains all thr article on the page
        -> width>= 850px : 5 columns of articles (grid-template-columns: repeat(5, 1fr);)
        -> width>= 505px &  width< 850px : 3 columns of articles (grid-template-columns: repeat(3, 1fr);)
        -> width< 505px : 2 columns of articles (grid-template-columns: repeat(2, 1fr);)
        -> the font-size & width of h1 is redefined according to the device width
        -> the width of the div is redefined as well
    */


@media(max-width: 505px) {
    .name_cart {
        font-size: 16px;
    }

    .brand_div_cart, .prix_cart {
        font-size: 15px;
    }

    #div_container_all_article_in_cart {
        align-content: center;
        width: 95%;
        margin: 0 auto;
    }

    .img_cart {
        width: 60px;
        height: 60px;
    }

    .img_cart_empty {
        width: 250px;
    }
}

@media(max-width: 600px) and (min-width: 506px) {
    .name_cart {
        font-size: 17px;
    }

    .brand_div_cart, .prix_cart {
        font-size: 16px;
    }

    #div_container_all_article_in_cart {
        width: 95%;
    }

    .img_cart {
        width: 70px;
        height: 70px;
    }

    .img_cart_empty {
        width: 250px;
    }
}

@media(max-width: 650px)and (min-width: 601px) {
    .name_cart {
        font-size: 18px;
    }

    .brand_div_cart, .prix_cart {
        font-size: 17px;
    }

    #div_container_all_article_in_cart {
        width: 95%;
    }

    .img_cart {
        width: 80px;
        height: 80px;
    }

    .number-input input[type=number] {
        max-width: 36px;
        padding: .36px;
        font-size: 17px;
        height: 20px;
    }

    .img_cart_empty {
        width: 300px;
    }
}

@media(max-width: 850px)and (min-width: 651px) {
    .name_cart {
        font-size: 20px;
    }

    .brand_div_cart, .prix_cart {
        font-size: 19px;
    }

    #div_container_all_article_in_cart {
        width: 90%;
    }

    .img_cart {
        width: 100px;
        height: 100px;
    }

    .number-input input[type=number] {
        max-width: 40px;
        padding: .40px;
        font-size: 17px;
        height: 22px;
    }

    .img_cart_empty {
        width: 350px;
    }
}

@media(max-width: 1070px)and (min-width: 851px) {
    .prix_cart, .brand_div_cart {
        font-size: 21px;
    }

    .name_cart {
        font-size: 22px;
    }

    #div_container_all_article_in_cart {
        width: 85%;
    }

    .img_cart {
        width: 120px;
        height: 120px;
    }

    .number-input input[type=number] {
        max-width: 45px;
        padding: .45px;
        font-size: 18px;
        height: 25px;
    }

    .img_cart_empty {
        width: 400px;
    }
}

@media(min-width: 1071px) {
    .prix_cart, .brand_div_cart {
        font-size: 21px;
    }

    .name_cart {
        font-size: 22px;
    }

    #div_container_all_article_in_cart {
        width: 85%;
    }

    .img_cart {
        width: 150px;
        height: 150px;
    }

    .number-input input[type=number] {
        max-width: 45px;
        padding: .45px;
        font-size: 18px;
        height: 25px;
    }

    .img_cart_empty {
        width: 400px;
    }
}




/*Part to show the pop up*/
* {
    box-sizing: border-box;
}

.form-container .btn {
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }
