/* All our articles in the cart are displayed in a grid-item (grid-container).
    - the image of the article will be in the img_cart div
    - the name of the article will be in the name_cart div
    - the other information will be in the info_cart div 
*/
.img_cart {
    grid-area: img;
}

.name_cart {
    grid-area: name;
    width: 100%;
    align-content: left;
}

.info_cart {
    grid-area: info;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'img name name name name name'
        'img info info info info info';
    gap: 10px;
    padding: 10px;
}
/*
html, body, div, span, header, ul, li, a {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
}
   


body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(253,253,253);
}
     
//Customization of h1 & h2 & h4
h1 {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-weight: 700;
}

h2 {
    color: rgb(180, 150, 180);
}

h4 {
    font-weight: 100;
}
*/










#web_site_name {
    font-size: 20px;
    color: teal;
    text-align: center;
    vertical-align: central;
    float: central;
}

#nb_article_in_cart {
    font-size: 12px;
    background: orange;
    color: white;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    float: right;
    border-radius: 5px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.name_cart {
    font-size: 24px;
    font-weight: bold;
}
.img_cart {
    width : 150px;
    height : 150px;
}

#div_container_all_article_in_cart {
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.brand_div_cart, .quantite_div_cart, .quantite_cart, .label_quantite_cart {
    font-size: 24px;
    color: rgb(180,150,180);
}
.brand_div_cart {
    text-align: left;
}

    .prix_cart {
        font-size: 24px;
        color: black;
        text-align: left;
    }
.quantite_cart {
    border: none;
}

.del_text_div {
    font-style: italic;
    color: rgb(220,220,220);
}

.img_cart_empty {
    width: 500px;
    margin: 0 auto;
}



input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input {
    border: 0;
    display: inline-flex;
}

    .number-input, .number-input * {
        box-sizing: border-box;
    }

        .number-input button {
            outline: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin: 0;
            position: relative;
            box-shadow: 0px 0px 1px #474747;
            border-radius: 50%;
        }

            /*Button inside + or - */
.number-input button:before, .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: blueviolet;
    transform: translate(-50%, -50%);
}

/*In order to have a + */
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

/*Input value quantity*/
.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 50px;
    padding: .50px;
    border: none;
    border-width: 0 2px;
    font-size: 20px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: #9be3df;
}
/*
        Media query:
        - according to the width of the device used, the css resize the label in h1 and the div that contains all thr article on the page
        -> width>= 850px : 5 columns of articles (grid-template-columns: repeat(5, 1fr);)
        -> width>= 505px &  width< 850px : 3 columns of articles (grid-template-columns: repeat(3, 1fr);)
        -> width< 505px : 2 columns of articles (grid-template-columns: repeat(2, 1fr);)
        -> the font-size & width of h1 is redefined according to the device width
        -> the width of the div is redefined as well
    */
@media(max-width: 1070px) {
    .prix_cart {
        font-size: 21px;
    }
    .name_cart {
        font-size: 22px;
    }
    .brand_div_cart, .prix_div_cart, .quantite_div_cart, .quantite_cart, .label_quantite_cart {
        font-size: 21px;
        color: sandybrown;/*red*/
    }
    .quantite_cart{
        border: none;
    }
    
    #div_container_all_article_in_cart {
        width: 85%;
    }
    .img_cart {
        width: 120px;
        height: 120px;
    }
    .number-input button {
        width: 25px;
        height: 25px;
        margin: 0;
    }
    .number-input button:before, .number-input button:after {
        width: 13px;
        height: 2px;
     }
    .number-input input[type=number] {
        max-width: 45px;
        padding: .45px;
        font-size: 18px;
        height: 25px;
     }
    .img_cart_empty {
        width: 400px;
        margin: 0 auto;
    }

}

@media(max-width: 850px) {
     .name_cart {
        font-size: 20px;
    }

    .brand_div_cart, .prix_div_cart, .quantite_div_cart, .quantite_cart, .label_quantite_cart, .prix_cart{
        font-size: 19px;
        color: sandybrown; /*blue;*/
    }
    #div_container_all_article_in_cart {
        width: 90%;
    }
    .img_cart {
        width: 100px;
        height: 100px;
    }
    .number-input button {
        width: 22px;
        height: 22px;
        margin: 0;
    }

        .number-input button:before, .number-input button:after {
            width: 11px;
            height: 2px;
        }

    .number-input input[type=number] {
        max-width: 40px;
        padding: .40px;
        font-size: 17px;
        height: 22px;
    }
    .img_cart_empty {
        width: 350px;
        margin: 0 auto;
    }
}

@media(max-width: 650px) {
    .name_cart {
        font-size: 18px;
    }

    .brand_div_cart, .prix_div_cart, .quantite_div_cart, .quantite_cart, .label_quantite_cart, .prix_cart{
        font-size: 17px;
        color: sandybrown; /*blue;*/
    }
    #div_container_all_article_in_cart {
        width: 95%;
    }
    .img_cart {
        width: 80px;
        height: 80px;
    }
    .number-input button {
        width: 20px;
        height: 20px;
        margin: 0;
    }

        .number-input button:before, .number-input button:after {
            width: 9px;
            height: 2px;
        }

    .number-input input[type=number] {
        max-width: 36px;
        padding: .36px;
        font-size: 17px;
        height: 20px;
    }
    .img_cart_empty {
        width: 300px;
        margin: 0 auto;
    }
}

@media(max-width: 600px) {
    .name_cart {
        font-size: 17px;
    }

    .brand_div_cart, .prix_div_cart, .quantite_div_cart, .quantite_cart, .label_quantite_cart, .prix_cart {
        font-size: 16px;
        color: sandybrown; /*deeppink;*/
    }
    #div_container_all_article_in_cart {
        width: 95%;
    }
    .img_cart {
        width: 70px;
        height: 70px;
    }
    .img_cart_empty {
        width: 250px;
        margin: 0 auto;
    }
}

@media(max-width: 505px) {
    .name_cart {
        font-size: 16px;
    }

    .brand_div_cart, .prix_div_cart, .quantite_div_cart, .quantite_cart, .label_quantite_cart, .prix_cart {
        font-size: 15px;
        color: sandybrown;
    }
    #div_container_all_article_in_cart {
        align-content: center;
        width: 95%;
        margin: 0 auto;
    }
    .img_cart {
        width: 60px;
        height: 60px;
    }
    .img_cart_empty {
        width: 250px;
        margin: 0 auto;
    }
}