/*
    This files contains all the css that the views have in common.
    - style of body, div, span, header, ul, li, a
    - style of h1 to h4
    - style of the input number component

*/
html, body, div, span, header, ul, li, a {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
}

/*Style of the body : we use the same background color & font-family for each view */
body {
    /*    margin: 0;*/
    font-family: 'Lato', sans-serif;
    background-color: rgb(253,253,253);
}

/*Customization of h1 & h2 & h4*/
h1 {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-weight: 700;
}

h2 {
    color: rgb(180, 150, 180);
}

h4 {
    font-weight: 100;
}

h3 {
    margin: 0;
    font-size: 16px;
}

/*
Media query:
    - according to the width of the device used, the css resize the label in h1 and the div that contains all thr article on the page
    -> width>= 850px : 5 columns of articles (grid-template-columns: repeat(5, 1fr);)
    -> width>= 505px &  width< 850px : 3 columns of articles (grid-template-columns: repeat(3, 1fr);)
    -> width< 505px : 2 columns of articles (grid-template-columns: repeat(2, 1fr);)
    -> the font-size & width of h1 is redefined according to the device width
    -> the width of the div is redefined as well
 */

@media(max-width: 1070px) {
    h1 {
        font-size: 25px;
    }
}

@media(max-width: 850px) {
    h1 {
        width: 80%;
    }
    .number-input button {
        width: 22px;
        height: 22px;
        margin: 0;
    }

    .number-input button:before, .number-input button:after {
        width: 11px;
        height: 2px;
    }
}

@media(max-width: 650px) {
    h1 {
        font-size: 20px;
        width: 90%;
    }
    .number-input button {
        width: 20px;
        height: 20px;
        margin: 0;
    }

    .number-input button:before, .number-input button:after {
        width: 9px;
        height: 2px;
    }
}


@media(max-width: 600px) {
    h1 {
        width: 70%;
    }
}

@media(max-width: 505px) {
    h1 {
        width: 80%;
    }
}

@media(max-width: 1070px) {
    .number-input button {
        width: 25px;
        height: 25px;
        margin: 0;
    }

        .number-input button:before, .number-input button:after {
            width: 13px;
            height: 2px;
        }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input {
    border: 0;
    display: inline-flex;
}

.number-input, .number-input * {
    box-sizing: border-box;
}

/*In order to have a + */
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

/*Button inside + or - */
.number-input button:before, .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: blueviolet;
    transform: translate(-50%, -50%);
}