html.hc-nav-yscroll {
    overflow-y: scroll
}

.hc-offcanvas-nav .nav-container {
    position: fixed;
    z-index: 9998;
    top: 0;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    /* transition: transform .4s ease*/
}





.hc-offcanvas-nav .nav-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -ms-scroll-chaining: none;
    overscroll-behavior: none
}

.hc-offcanvas-nav li {
    position: relative;
    display: block;
}

.hc-offcanvas-nav .nav-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -ms-scroll-chaining: none;
    overscroll-behavior: none
}

.hc-offcanvas-nav li {
    position: relative;
    display: block;
}



    .hc-offcanvas-nav li.level-open > .nav-wrapper {
        visibility: visible;
    }

    .hc-offcanvas-nav li:not(.custom-content) a {
        position: relative;
        display: block;
        box-sizing: border-box;
        cursor: pointer;
    }


    .hc-offcanvas-nav li.level-open > .nav-wrapper {
        visibility: visible;
    }

    .hc-offcanvas-nav li:not(.custom-content) a {
        position: relative;
        display: block;
        box-sizing: border-box;
        cursor: pointer;
    }

    
    .hc-offcanvas-nav li:not(.custom-content) a[disabled] {
        cursor: not-allowed
    }
    .hc-offcanvas-nav li:not(.custom-content) a, .hc-offcanvas-nav li:not(.custom-content) a:hover {
        text-decoration: none
    }

.hc-offcanvas-nav input[type="checkbox"] {
    display: none
}

.hc-offcanvas-nav:not(.nav-open)::after {
    pointer-events: none
}


.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    height: 100%;
    visibility: hidden;
    /* transition: visibility 0s ease .4s,transform .4s ease*/
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
    position: static
}





.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    /* transition: transform .4s ease*/
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(-100%, 0, 0)
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
    right: 0;
    transform: translate3d(100%, 0, 0)
}








body.body_menu .hc-offcanvas-nav .nav-next span::before, body.body_menu .hc-offcanvas-nav .nav-back span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 80%; /*Position of the arrow*/
    width: 8px;
    height: 8px;
    margin-left: -2px;
    box-sizing: border-box;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform-origin: center
}

body.body_menu .hc-offcanvas-nav .nav-next span::before {
    transform: translate(-50%, -50%) rotate(135deg)
}

.body_menu .hc-offcanvas-nav .nav-back span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(-45deg)
}







html, body, div, span, header, ul, li, a {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
}

h3 {
    margin: 0;
}

ol, ul {
    list-style: none;
}




.cf::before, .cf::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.cf::after {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 800px;
}

#main-nav {
    display: none;
}




    header .menu_icon {
        display: none;
        display: block;
        z-index: 9980;
        float: left;
        position: absolute;
        position: relative;
        top: 2px;
        top: auto;
        left: auto;
        box-sizing: content-box;
        width: 35px;
        width: auto;
        margin-top: 5px;
        padding-left: 55px;
        min-height: 26px;
        text-align: left;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -ms-user-select: none;
    }

        header .menu_icon span {
            top: 50%;
            width: 35px;
            transform: translateY(-50%);
            transform-origin: 50% 50%;
        }

            header .menu_icon span, header .menu_icon span::before, header .menu_icon span::after {
                display: block;
                position: absolute;
                left: 0;
                height: 4px;
                background: #182631;
                /*transition: all .25s ease;*/
            }

                header .menu_icon span::before, header .menu_icon span::after {
                    content: '';
                    width: 100%;
                }

                header .menu_icon span::before {
                    top: -11px;
                }

                header .menu_icon span::after {
                    bottom: -11px;
                }

        header .menu_icon.menu_icon-open span {
            background: rgba(0,0,0,0);
            transform: rotate(45deg);
        }

            header .menu_icon.menu_icon-open span::before {
                transform: translate3d(0,11px,0);
            }

            header .menu_icon.menu_icon-open span::after {
                transform: rotate(-90deg) translate3d(11px,0,0);
            }






body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(253,253,253);
}
/*Customization of h1, h2 (price of the article), h3 (name of the article) and h4 (brand of the article)*/
h1 {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-weight: 700;
}

h2 {
    color: rgb(180, 150, 180);
}

h3 {
    font-size: 16px;
}

h4 {
    font-weight: 100;
}





/*
        This code is used to give properties to the div containing all the articles.
        Here, the css code create 5 columns -> we have 5 articles by line.
        -> It will change according to the width of the device used (see the media querry part)
    */
#div_container_all_article {
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

/*
        We defined the box properties:
        - shadow with the cursos hover or not
        - the border radius of an article "box" : div in which there are the name, price, brand and image of an article
        We also defined the properties of the image of an article with a border radius.
    */
#box {
    width: 100%;
    background-color: rgb(240,240,240);
    align-content: center;
    border-radius: 15px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}

    #box:hover {
        box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
    }

#div_container_all_article img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#details {
    padding: 0 15px;
}



/*
        Media query:
        - according to the width of the device used, the css resize the label in h1 and the div that contains all thr article on the page
        -> width>= 850px : 5 columns of articles (grid-template-columns: repeat(5, 1fr);)
        -> width>= 505px &  width< 850px : 3 columns of articles (grid-template-columns: repeat(3, 1fr);)
        -> width< 505px : 2 columns of articles (grid-template-columns: repeat(2, 1fr);)
        -> the font-size & width of h1 is redefined according to the device width
        -> the width of the div is redefined as well
    */


@media(max-width: 1070px) {
    h1 {
        font-size: 25px;
    }

    #div_container_all_article {
        width: 95%;
        grid-gap: 10px;
    }
}

@media(max-width: 850px) {
    h1 {
        width: 80%;
    }

    #div_container_all_article {
        display: grid;
        grid-gap: 70px 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
}

@media(max-width: 650px) {
    h1 {
        font-size: 20px;
        width: 90%;
    }

    #div_container_all_article {
        width: 90%;
    }
}

@media(max-width: 600px) {
    h1 {
        width: 70%;
    }

    #div_container_all_article {
        width: 70%;
    }
}

@media(max-width: 505px) {
    h1 {
        width: 80%;
    }

    #div_container_all_article {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}













    .hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
        transform: translate3d(0, 0, 0)
    }

    body.body_menu .hc-offcanvas-nav .nav-container, body.body_menu .hc-offcanvas-nav .nav-wrapper, body.body_menu .hc-offcanvas-nav ul {
        background: rgb(220, 190, 220);
    }

    body.body_menu .hc-offcanvas-nav .nav-item-link, body.body_menu .hc-offcanvas-nav li.nav-close a, body.body_menu .hc-offcanvas-nav .nav-back a {
        padding: 14px 17px;
        font-size: 14px;
        color: rgb(140, 110, 140);
        font-weight: bolder;
        z-index: 1;
        background: rgba(0,0,0,0);
        /*border-bottom: 1px solid black;*/
        /* transition: background .1s ease*/
    }
header {
    position: relative;
    padding: 10px;
    background-color: rgb(230,230,230);
}