    body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(253,253,253);
}
h1{
    width: 90%;
    margin: auto;
    padding: 20px;
    font-weight: 700;
}
#div_container_all_article{
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
#box {
    width: 100%;
    background-color: rgb(240,240,240);
    align-content: center;
    border-radius: 15px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
#box:hover{
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}
#div_container_all_article img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#details{
    padding: 0 15px;
}

h3{
    font-size: 16px;
}
h4{
    font-weight: 100;
}
h2{
    color: rgb(180, 150, 180);
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1070px)
{
    h1{
        font-size: 25px;
    }
    #div_container_all_article{
        width: 95%;
        grid-gap: 10px;
    }
}
@media(max-width: 850px)
{
    h1 
    {
        width: 80%;
    }
    #div_container_all_article
    {
        display: grid;
        grid-gap: 70px 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }    
}
@media(max-width: 650px)
{
    h1{
        font-size: 20px;
        width: 90%;
    }
    #div_container_all_article
    {
        width: 90%;
    }
}
@media(max-width: 600px)
{
    h1 
    {
        width: 70%;
    }
    #div_container_all_article
    {
        width: 70%;
    }
}
@media(max-width: 505px)
{
    h1 
    {
        width: 80%;
    }
    #div_container_all_article
    {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}