* {
  box-sizing: border-box;
}

#before_selection_choice{
  margin : 10px;
}
#input_checkbox{
  size: 2vh;
}


#btn_send_mail{
  background-color: purple;
  font-size: 18px;
  border-radius: 10px;
  color:white;
  padding: 5px;
  height: 35px;
  margin : auto;
  width: 200px;

}

input[type=text], select, textarea,input[type=email],input[type=tel],input[type=password] ,input[type=date],input[type=number]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
#div_before_login, #div_without_login{
	display:none;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.display_form_part{
	display:block;
}
.hidden{
	display:none;
}

#button_create_account, #button_login, #button_without_account{
    background-color: #04AA6D;
    font-size: 15px;
    color:white;
    padding: 5px;
    height: 35px;
    margin : 5px;
    width: 200px;

}

#button_create_account:hover, #button_login:hover, #button_without_account:hover{
    border-width: 2px;   
}


.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
  }
    .circle {
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: purple;
      border-radius: 1.625rem;
    }
      .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
      }
        .arrow {
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
        }
          .arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
  
    .button-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: purple;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
    }
  
    .learn-more:hover {
      .circle {
        width: 100%;
      }
      .button-text {
        color: white;
      }
    }
  
